/* UNIVERSAL STYLES */

:root {
    --primary-background-color: rgba(0, 0, 0, 0.6);
    --primary-accent-color: rgb(232, 144, 5);
    --primary-hover-color: rgba(232, 144, 5, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    height: 100%;
}

section {
    padding: 9rem 10% 0 10%;
}

/* FONTS */

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: rgb(47, 142, 153);
    font-size: 7rem;
    letter-spacing: .25rem;
    line-height: 8rem;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* FONTS - MOBILE */

@media only screen and (max-width: 768px) {
    
    h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    margin-top: 2rem;
    padding: 0 5%;
    z-index: 10;
}

.navigation {
    background-color: var(--primary-background-color);
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    color: #fff;
    padding-left: 1.5rem;
}

.navigation ul li {
    padding-right: 1.5rem;
    display: inline-block;
}

.navigation ul li a {
    color: #fff;
    text-transform: capitalize;
    transition: all .5s;
}

.navigation ul li a:hover {
    color: var(--primary-accent-color);
}

.menu-button,
.close-button {
    display: none;
}

/* HEADER - MOBILE */

@media only screen and (max-width: 768px) {

    .navigation ul {
        position: fixed;
        background-color: var(--primary-accent-color);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 15;
        transition: all .75s;
    }

    .navigation ul.active {
        opacity: 1;
        pointer-events: all;
    }

    .navigation ul li {
        line-height: 80px;
        padding: 0;
    }

    .navigation ul li a:hover {
        color: #000;
    }

    .menu-button {
        display: block;
        color: #fff;
        padding-right: 1.5rem;
        cursor: pointer;
        z-index: 20;
    }

    .menu-button.active {
        display: none;
    }

    .close-button.active {
        display: block;
        color: #fff;
        padding-right: 1.5rem;
        z-index: 25;
        cursor: pointer;
    }

}

/* BANNER */

.home {
    background-image: url("../images/banner-web.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-button {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 1.25rem;
    height: 4rem;
    width: 14rem;
    border-radius: 1rem;
    margin: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.home-button:hover {
    background-color: var(--primary-hover-color);
    transition: all .5s linear;
}

/* BANNER - MOBILE */

@media only screen and (max-width: 768px) {

    .home {
        background-attachment: scroll;
    }
    
    .home-button {
        font-size: 1rem;
        height: 3.5rem;
        width: 12rem;
    }

}

/* ABOUT */

.about {
    padding-bottom: 9rem;
}

.about p {
    line-height: 1.75rem;
}

/* EVENTS */

.events {
    padding-bottom: 8rem;
    background-color: rgb(150, 64, 54);
}

.events h2 {
    color: #fff;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.events-box {
    background-color: #fff;
    width: 400px;
    margin: 0 .5rem 1rem .5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.events-photo {
    height: 240px;
}

.events-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.events-box h4 {
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 1.75rem 0 .5rem 0;
}

.events-box p {
    padding-bottom: .75rem;
}

.events-button {
    border: none;
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 1rem;
    height: 2.5rem;
    width: 7.5rem;
    border-radius: 1rem;
    margin: 1rem 0 1.75rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.events-button:hover {
    background-color: var(--primary-hover-color);
    transition: all .5s linear;
}

/* GALLERY */

.gallery {
    padding-bottom: 9rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
}

.gallery-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    cursor: pointer;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.web-img {
    display: block;
}

.mobile-img {
    display: none;
}

.gallery-img-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 1rem;
    overflow: hidden;
}

.gallery-img-7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    border-radius: 1rem;
    overflow: hidden;
}

.modal {
    background: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.25s ease-out;
    pointer-events: none;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    border-radius: 1rem;
    transform: translate(-50%, -50%) scale(.5);
    transition: all 0.25s ease-out;
}

.modal-img.open {
    transform: translate(-50%, -50%) scale(1);
}

/* GALLERY - MOBILE */

@media only screen and (max-width: 1024px) {

    .gallery-grid {
        display: flex;
        flex-direction: column;
    }

    .gallery-img {
        cursor: default;
    }

    .gallery-img:hover {
        transform: scale(1);
    }

    .web-img {
        display: none;
    }
    
    .mobile-img {
        display: block;
    }
    /* .gallery-img-3,
    .gallery-img-5 {
        display: none;
    } */

}

/* CONTACT */

.contact {
    padding-bottom: 8.5rem;
    background-color: rgb(47, 142, 153);
}

.contact h2 {
    color: #fff;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact-box {
    background-color: #fff;
    width: 400px;
    height: 240px;
    margin: 0 .5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box p {
    padding-top: 1.5rem;
}

.newsletter-container {
    color: #fff;
    text-align: center;
}

.newsletter-container h5 {
    font-size: 1rem;
    padding: 2rem 0;
}

.newsletter-box {
    height: 3rem;
    display: inline-flex;
    justify-content: center;
}

.newsletter-text,
.newsletter-button {
    border: none;
    outline: none;
}

.newsletter-text {
    width: 0;
    transition: all 1s;
}

.newsletter-button {
    background-color: var(--primary-accent-color);
    color: #fff;
    font-size: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.newsletter-box:hover > .newsletter-text,
.newsletter-text:focus {
    width: 20rem;
    padding: 0 1rem;
}

.follow-container {
    color: #fff;
    text-align: center;
}

.follow-container h5 {
    font-size: 1rem;
    padding: 2rem 0 1.5rem 0;
}

.follow-box {
    background-color: #fff;
    color: #000;
    height: 3rem;
    width: 3rem;
    margin: .5rem .375rem;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.follow-box:hover .follow-icon {
    color: var(--primary-accent-color);
    transform: scale(1.1);
    transition: all 0.5s linear;
}

/* CONTACT - MOBILE */

@media only screen and (max-width: 768px) {

    .newsletter-box {
        width: 10rem;
    }

    .newsletter-text {
        width: 20rem;
        padding: 0 1rem;
    }
    
}

@media only screen and (max-width: 540px) {

    .contact-box {
        width: 300px;
        height: 185px;
    }

}

/* FOOTER */

footer {
    background-color: var(--primary-background-color);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

footer p {
    font-size: 14px;
}